
<div class="campus">
  <h1>Campus</h1>
  <hr>
  <p>We streamline the time, cost, and job hunting for you. Getting you a programming career in the most efficient and reliable way possible."<p>
  <p>the most efficient and reliable way possible</p>
  <div class="button sucess" id="submit">Learn More</div>
</div>


<div class="online">
  <h1>Online</h1>
  <hr>
  <p>Become a developer at your own pace. Get unblocked with help form our staff to get back to learning."<p>
  <img width=75% src="/images/laptop.png"/>
  <div class="button" id="submit">Learn More</div>
</div>

<div class="hiring">
  <h1>Hire a Developer</h1>
  <hr>
  <p>Hire with Launch Academy and meet emerging Software Developers at an upcoming Career Day!<p>
  <div class="button" id="submit">Join Career Day</div>
</div>

<div class="partners">
  <h1>Hiring Partners</h1>
  <hr>
  <p>We work with the very best. We are proud of our partners, who work with us to deliver the best </p>
  <p>training.</p>

  <div class="box small-3 columns text-center">
    <div class="company">
      <img src="images/hubspot.png">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="box small-3 columns text-center">
    <div class="company">
      <img src="images/fidelity.png">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="box small-3 columns text-center">
    <div class="company">
      <img src="images/npr.png">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="box small-3 columns text-center">
    <div class="company">
      <img src="images/datto.png">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

  <div>
</div>
